repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        types_or: [python, pyi]
        args: ["--fix"]

  - repo: local
    hooks:
      - id: format-and-add
        name: Format code and stage changes
        entry: uv run scripts/pre-commit-format.py
        language: system
        pass_filenames: false
        always_run: true
